NCR Rozbaleno/Workflows/Odeslnnotifikacepiaktualizacineshody-7D029B4A-4636-F011-8C4D-0022489FD397.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "con_sharedcommondataserviceforapps_09290"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "con_sharedoffice365_643a8"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "3373a861-a8a0-4846-aaab-f5df363dd670"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "con_neshody",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Neshody": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "5e30bf28-4935-4690-b674-9e3fab430d3c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "con_neshodies",
              "recordId": "@triggerOutputs()?['body/con_neshodyid']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_manager": {
          "runAfter": {
            "Get_Neshody": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f963100e-77ce-4da6-8dfb-a606cbf31357"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "con_uzivateles",
              "recordId": "@outputs('Get_Neshody')?['body/_con_odpovednymanazer_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Get_manager": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1d04698f-d11e-4ae7-984a-397dc01f97d9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_manager')?['body/con_email']",
              "emailMessage/Subject": "Aktualizace neshody @{outputs('Get_Neshody')?['body/con_nazev']}",
              "emailMessage/Body": "<p>Dobrý den,<br>\nDošlo k aktualizaci neshody: @{outputs('Get_Neshody')?['body/con_nazev']} <br>\nDatum aktualizace: @{outputs('Get_Neshody')?['body/modifiedon']}<br>\nProsím přihlaste se do aplikace NCR Management pro více detailů a zahajte řešení.<br>\n<br>\n<a href=\"https://org8966d7d1.crm4.dynamics.com/main.aspx?appid=17643591-a831-f011-8c4d-0022489fd397&amp;pagetype=entityrecord&amp;etn=con_neshody&amp;id=@{outputs('Get_Neshody')?['body/con_neshodyid']}\">Otevřít neshodu v aplikaci</a><br>\n<br>\nHezký den přeje &nbsp;<br>\ntým NCR Management<br>\n&nbsp;</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}